#someStuff
{
	text-align: center;
	font-size: 300%;
}

#firstP
{
	text-align: center;
	font-size: 150%;
	color: grey;
}

#content
{
    width: 50%;
    margin: 0 auto;
}

/*
#lama
{
	max-width: 100%;
	border: 2px solid black;
	border-radius: 3px;
}
*/

#map
{
	height: 700px;
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid black;
	border-radius: 3px;
}

/*
#lamaPen
{
	height: 600px;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;	
	padding: 20px;
}
*/

